.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form {
    margin: 1em;
    min-width: 18em;
}

.Form > *:not(:last-child):not(label) {
    margin-bottom: 1.25em;
}

.Form > label {
    margin-bottom: 0.25em;
}

select,
input {
    border-radius: 0 !important;
}
